  <% if !f.error_messages.empty? %>
    <div class="flash">
      <div class="message error">
        <p><%= f.error_messages %></p>
      </div>
    </div>
  <% end %>
  <div class="group">
    <%= f.label :title, "Title", :class => :label %>
    <%= f.text_field :title, :class => 'text_field',
        :dojoType 	=> "dijit.form.ValidationTextBox",
        :required 	=> "true",
        :propercase 	=> "true",
        :promptMessage 	=> "Enter Product title.",
        :invalidMessage => "Product title is required.",
        :trim 		=> "true"
    %>
  </div>

  <div class="group">
    <%= f.label :price, "Price", :class => :label %>
    <!-- TODO: Fix this isn't working -->
    <%= f.text_field :price, 
	:dojoType 	=> "dijit.form.CurrencyTextBox",
    	:promptMessage 	=> "Enter Product price.",
    	:invalidMessage	=> "Price must be greater than 0.01.",
    	:currency	=> "EUR",
    	:constraints	=> "{min: 0.01}",
    	:required	=> "true"
    %>
  </div>

  <div class="group">
    <%= f.label :description, "Description", :class => :label %>
    <%= f.text_area :description, :class => 'text_area',
	:dojoType	=> "dijit.form.Textarea",
    	:required	=> "true",
    	:trim		=> "true"
    %>
    
  </div>

  <div class="group">
    <%= f.label :image_url, "Image url", :class => :label %>
    <%= f.text_field :image_url, :class => 'text_field',
	:dojoType 	=> "dijit.form.ValidationTextBox",
    	:promptMessage	=> "Enter a link to the product image.",
    	:invalidMessage => "Invalid link (must end in .jpg, .gif or .png).",
    	:required 	=> "true",
    	:trim		=> "true"
    %>
    <!-- TODO: Fix this validation
    	:regExp		=> '(\.gif|\.jpg|\.png)$',
    --> 
  </div>
        
<div class="group navform">
  <input type="submit" class="button" value="Save &rarr;"
	 dojoType="dijit.form.Button"
	 label="Save"/> 
  or <%= link_to 'Cancel', products_path %>
</div>
